<h1>Kelvn</h1>
<h2>The app for texting Kelvin a happy birthday.</h2>

<form id= "text-kelvinn" method= "post" action= "/submit">
	<textarea cols="50" rows="1" name="message" value="Write a custom birthday message"></textarea>
	<br>
	<br>
	<input type="submit" value="Happy Birthday!">
</form>
	

