<body>
<!-- Header Stuff -->
	<h1>Kelvn</h1>
	<div id="details">
		<h2>The app for texting Kelvin a happy birthday.</h2>

		<form id= "text-kelvin" method= "post" style="width: 40%" action= "/submit">
			<textarea cols="50" rows="1" name="message" value="Write a custom birthday message"></textarea>
			<button type="submit" class="btn-lg btn-primary"> Happy Birthday </button>
		</form>
	</div>

		<img id = "kelvn-logo" src="../../images/kelvn.png"/>


</body>
