<h1>Kelvn</h1>
<h2>The app for texting Kelvin a happy birthday.</h2>
<body>
	<img src="../../images/kelvn.png" width="1000" height="relative"/>


	<form id= "text-kelvin" method= "post" action= "/submit">
		<textarea cols="50" rows="1" name="message" value="Write a custom birthday message"></textarea>
		<br>
		<br>
		<input type="submit" value="Happy Birthday!">
	</form>
		
</body>
