<body>
<!-- Header Stuff -->

	<h1>Kelvn</h1>
	<div class="jumbotron" style="text-align: center">
		<h2>The app for texting Kelvin a happy birthday.</h2>
	</div>



	<body background="../../images/kelvn-background-4.png">
	<img id = "kelvn-logo" src="../../images/kelvn.png"/>


		<form id= "text-kelvin" method= "post" style="width: 40%" action= "/submit">
			<textarea cols="50" rows="1" name="message" value="Write a custom birthday message"></textarea>
			<br>
			<br>
			<button type="submit" class="btn-lg btn-primary"> Happy Birthday </button>
		</form>
		
</body>
